name: Node.js
on:
  - push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: Install dependencies
        run: npm ci --ignore-scripts
        env:
          CI: true
      - name: Lint codebase
        run: npm run lint
      - name: Run tests
        run: npm test
